

body{
    display: grid;
    grid-template-columns: 30rem auto;
}

.leftside{
    margin: 0 auto;
    background: rgb(3, 70, 3);
    font-size: 30rem;
    border: 5px solid blue;
}



.central{
    display: grid;
    grid-template-rows: 20rem auto;
    border: 5px solid purple;
}

.foundations{
    border: 5px solid red;
}

.tableau{
    border: 5px solid green;
}

.cardImg{
    width: 100%;
    height: auto;
}

.card{
    grid-row: 2;
    min-height: 25px;
    display: flex;
    width: 150px;
}

.stackCard{
    margin-top: -160px;
}

.wastePile{
    margin-top: 100px;
}